TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
FLIGHT_ORIGIN=BSB
FLIGHT_DESTINATION=IGU
FLIGHT_START_MONTH=2026-08
FLIGHT_END_MONTH=2026-12
FLIGHT_TOP_PER_MONTH=3
FLIGHT_MAX_ONE_WAY=500
FLIGHT_MAX_ROUND_TRIP=900
FLIGHT_ENGINE=fast+fli
MONITOR_INTERVAL_MINUTES=240
